
html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #1b1a1a;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 18px;
	color: #7e7e7e;
	line-height: 2;
}

img {
	max-width: 100%;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Для секций
-----------------------*/

.section-title {
	text-align: center;
	margin-bottom: 75px;
}

.section-title i {
	display: block;
	color: #8a8a8a;
	font-size: 65px;
}

.section-title h2 {
	font-size: 48px;
	position: relative;
	display: inline-block;
	padding: 0 16px;
}

.section-title h2:after,
.section-title h2:before
{
	position: absolute;
	content: "";
	width: 277px;
	height: 1px;
	background: #ffc515;
	top: 32px;
}

.section-title h2:before {
	left: 100%;
}

.section-title h2:after {
	right: 100%;
}

.section-title.text-white i {
	color: #fff;
}

.section-title.st-no-style h2:after,
.section-title.st-no-style h2:before {
	display: none;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 110px;
	padding-bottom: 115px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}


/* Предварительный загрузчик */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.element {
	margin-bottom: 110px;
}

.element:last-child {
	margin-bottom: 0;
}

.el-title {
	margin-bottom: 60px;
}


.tab-element .nav-tabs {
	border-bottom: none;
}

.tab-element .nav-tabs .nav-link {
	border-radius: 0;
	font-size: 16px;
	color: #1f1f1f;
	border: none;
	padding: 17px 38px;
	margin-right: 4px;
	background: #ffc515;
	margin-bottom: 10px;
}

.tab-element .nav-tabs .nav-item:last-child .nav-link {
	margin-right: 0;
}

.tab-element .nav-tabs .nav-link.active {
	background: #000;
	color: #fff;
}

.tab-element .nav-tabs .nav-link:focus,
.tab-element .nav-tabs .nav-link:hover {
	border: none;
}

.tab-element .tab-pane p {
	font-size: 15px;
	padding-top: 30px;
}

/*------------------
	Шапка
---------------------*/

.header-section {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.header-warp {
	display: table;
	width: 100%;
	min-height: 83px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.site-logo {
	display: table-cell;
	width: 241px;
	text-align: center;
	border-right: 1px solid rgba(255, 255, 255, 0.25);
	vertical-align: middle;
}

.site-logo h2 {
	padding: 25px 0;
	color: #fff;
}

.site-logo h2 span {
	color: #ffc515;
}

.nav-switch {
	display: none;
}

.main-menu {
	display: table-cell;
	text-align: right;
	padding-right: 290px;
	vertical-align: middle;
}

.main-menu li {
	display: inline;
}

.main-menu li a{
	display: inline-block;
	margin-left: 50px;
	color: #fff;
	padding: 10px 5px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.main-menu li a:hover,
.main-menu li a.active {
	color: #ffc515;
}

.header-right {
	display: table-cell;
	width: 383px;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
	vertical-align: middle;
}

.header-right p {
	margin-bottom: 0;
	line-height: normal;
	color: #fff;
}

.header-right p span {
	color: #ffc515;
}


/*---------------------
  Секции главной страницы
-----------------------*/

.intro-item {
	text-align: center;
	margin-bottom: 45px;
}

.intro-item h3 {
	margin-bottom: 35px;
}

.icon{
	text-align: center;
	margin-top:-30px;
	margin-bottom: 30px;
}

.services-section{
	height: 730px;
}

.services {
	padding-top: 40px;
}

.service-item {
	text-align: center;
}

.service-item i {
	display: block;
	color: #c49812;
	font-size: 40px;
	margin-bottom: 10px;
}

.service-item h3 {
	margin-bottom: 30px;
}



/*--------------
  Другие страницы
-----------------
=================*/

.page-top-info {
	height: 730px;
	text-align: center;
	display: table;
	width: 100%;
}

.page-top-info .ptf-center {
	display: table-cell;
	vertical-align: middle;
}

.page-top-info h2 {
	padding-top: 80px;
	line-height: normal;
	font-size: 110px;
	color: #fff;
}

.page-top-info h2 span {
	color: #ffc515;
}

/*---------------
    О ресторане
-----------------*/

.chefs-section {
	padding-top: 130px;
	padding-bottom: 60px;
}

.chefs {
	padding-top: 30px;
}

.chef {
	text-align: center;
	margin-bottom: 40px;
}

.chef h4 {
	color: #ffc515;
	padding-top: 40px;
	margin-bottom: 30px;
}

.chef p {
	font-size: 14px;
	color: #808080;
	margin-bottom: 0;
}

.review-title{
	margin-top: 50px;
	font-size: 40px;
	color: #ffc515;
}

.list-review {
	width: 600px;
	height: 500px;
	overflow: auto;
}

.form-review{
	width:450px;
	text-align: left;
	color:#ffc515;
}

.old-review{
	margin:10px;
	background-color: #ffffff;
	display:flex;
	flex-direction: column;
	text-align: start;
	flex-wrap: wrap;
	border-radius: 10px;
}

.map{
	display: flex;
	justify-content: center;
	margin-top: -10px;
	margin-bottom: 35px;
}
.map_text{
	font-size:35px;
	padding: 30px;
}


/*---------------------
  Меню
-----------------------*/

.section-title {
	margin-bottom: 35px;
}
.menu-img{
	max-width: 100px;
	max-height: 100px;
	border-radius: 10px;
}
.menu-item {
	margin-bottom: 35px;
}

.menu-section {
	padding-bottom: 83px;
}

.menu-content{
	height: 600px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	flex-basis: 300px;
}

.menu-item {
	margin:0px 30px 50px;
}

.menu-item h5 {
	display: table-cell;
	color: #7e7e7e;
	margin-bottom: 8px;
}

.menu-item p {
	font-size: 12px;
	line-height: normal;
	display: table-cell;
	width: 222px;
	padding-right: 18px;
	font-style: italic;
	color: #b6b5b5;
}

.menu-item .mi-meta {
	display: table;
	width: 100%;
}

.menu-item .menu-price {
	display: table-cell;
	color: #7e7e7e;
	text-align: right;
	position: relative;
	font-size: 20px;
}


/*---------------
  Наши новости
-----------------*/
.news-item{
	display:flex;
	flex-direction: row;
	margin-bottom:40px;
}
.news-img{
	position: relative;
	max-width: 700px;
}

.news-content{
	padding-left: 15px;
}
.news-date {
	position: absolute;
	top:0px;
    left: 0px;
	color: #000;
	background: #ffc515;
	font-size:20px;
}
.res-form{
	margin-left: 250px;
}
.btn-res{
	background-color:#ffc515;
}


.register-form{
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	color: #171a1d;
	background-color: white;
	 border-radius: 10px;
}
.reg-title{
	text-align: center;
	color:#ffc515;
	font-size: 30px;
}
.login-form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #171a1d;
	background-color: white;
	border-radius: 10px;
}
@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

@media only screen and (max-width: 1550px) {
	.main-menu {
		padding-right: 70px;
	}
	.main-menu li a {
		margin-left: 20px;
	}
}
