{% extends 'base.html' %}

{% load static %}
{% block content %}
	<!-- Page info section -->
	<section class="page-top-info set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}">
		<div class="ptf-center">
			<div class="container">
				<h2>О нас</h2>
			</div>
		</div>
	</section>
	<!-- Page info section end -->


	<!-- Intro section -->
	<section class="inter-section spad">
		<div class="container">
			<div class="section-title">
				<h2>О нас</h2>
			</div>
			<div class="icon"><img src="{% static 'img/icon/restaurant.png' %}"></div>
			<div class="row">
				<div class="col-md-6">
					<p>  Anilez - стильный европейский ресторан, где пробуют лучшие шедевры мировой гастрономии, пьют игристое и приятно проводят время, наслаждаясь уютной атмосферой и панорамой города. Днём гостей приглашают попробовать бизнес-ланч в фирменном стиле, вечером — отдохнуть с бокалом крафтового пенного или игристого под приятную музыку.</p>
				</div>
				<div class="col-md-6">
					<p> В тёплую погоду открывается летняя веранда. Ресторан принимает заказы на проведение праздников и торжественных мероприятий. Приглашайте друзей, устраивайте романтический сюрприз второй половинке и просто приходите отдохнуть всей семьёй — вам здесь точно понравится.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->


	<!-- Chefs section -->
	<section class="chefs-section set-bg">
		<div class="container">
			<div class="section-title">
				<h2>Наши шеф-повары</h2>
			</div>
			<div class="row chefs">
				<div class="col-md-4 chef">
					<img src="{% static 'img/chefs/1.jpg' %}" alt="">
					<h4>Шеф-повар Жак Пепин</h4>
					<p>Жак Пепин - один из самых известных американских и международно признанных шеф-поваров, телеведущих и авторов книги о приготовлении еды.</p>
				</div>
				<div class="col-md-4 chef">
					<img src="{% static 'img/chefs/2.jpg' %}" alt="">
					<h4>Шеф-повар Поль Бокюз</h4>
					<p>Создатель изысканных паштетов и самых простых блюд - из Франции! Легендарный Поль Бокюз – кулинар столетия. </p>
				</div>
				<div class="col-md-4 chef">
					<img src="{% static 'img/chefs/3.jpg' %}" alt="">
					<h4>Шеф-повар Элен Дарроз</h4>
					<p>Элен Дарроз - ресторатор и кулинарный консультант, телеперсона, благотворительница. Обладательница нескольких звёзд Мишлен,</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Chefs section end -->

	<section class="page-top-info set-bg" data-setbg="{% static 'img/review-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-md-6 col-12 pb-4">
					<div class="review-title">Отзывы</div>
					<div class="list-review">
					{% for review in reviews %}
					<div class="old-review">
						<h4>{{review.name}}</h4>
						<p>{{review.text}}</p>
						<span>{{review.created_at}}</span>
					</div>
					{% endfor %}
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12">
					<div class="review-title">Оставьте отзыв</div>
					<form action="{% url 'about' %}" method="post" class="form-review">
						{% csrf_token %}  <!--токен защиты-->
						<div class="form-group">
							<label for="comment">Ваш комментарий</label> <textarea name="text" id="comment" cols="60" rows="7" class="form-control"></textarea>
						</div>
						<div class="form-group"> <label for="contactname">Имя</label> <input name="name" id="contactname" class="form-control"> </div>
						<div class="form-group"> <label for="contactemail">Почта</label> <input name="email" id="contactemail" class="form-control"> </div>
						<div class="form-group" > <button  type="submit" class="btn">Отправить</button> </div>
					</form>
				</div>
			</div>
		</div>
	</section>


	<section>
		<div class="container">
			<div class="section-title">
					<h2>Месторасположение</h2>
			</div>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4485.4672712701895!2d49.110645!3d55.797863!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead3dccdb30bf%3A0x8afc0369367f045f!2z0YPQuy4g0JrQsNGA0LvQsCDQnNCw0YDQutGB0LAsIDMsINCa0LDQt9Cw0L3RjCwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIwMTEx!5e0!3m2!1sru!2sru!4v1648930413116!5m2!1sru!2sru" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				<div class="map_text"> Мы всегда рады вас видеть!</div>
			</div>
		</div>
	</section>
{% endblock content %}
