{% extends 'base.html' %}

{% load static %}
{% block content %}
	<section class="page-top-info set-bg" data-setbg="{% static 'img/page-top-bg/2.jpeg' %}">
		<div class="ptf-center">
			<div class="container">
				<h2>Меню</h2>
			</div>
		</div>
	</section>


	<!--Меню -->
	<section class="mp-menu-section spad">
		<div class="icon"><img src="{% static 'img/icon/menu.png' %}"></div>
		<div class="container">
			{% for category in categories %}
			<div class="section-title">
				<h2>{{category.name}}</h2>
			</div>
						<div class="menu-content">
								{% for food_item in category.food.all %}
									<div class="menu-item">
										<h5>{{food_item.title}}</h5>
										<div class="mi-meta">
											<p>{{food_item.text}}</p>
											<div class="menu-price">{{food_item.price}}</div>
										</div>
									</div>
								{% endfor %}
						</div>
				{% endfor %}
		</div>
	</section>

{% endblock content %}