{% extends 'waiter.html' %}

{% load static %}
{% block content %}

	<!--Меню -->
	<section class="mp-menu-section spad">
		<div class="container">
			<div class="input-group rounded">
				<form action="{% url 'search' %}" method="get">
					<input type="text" name="s" placeholder="Поиск">
					<input type="submit" value="Найти">
				</form>
			</div>
			{% for category in categories %}
				<div class="section-title">
					<h2>{{category.name}}</h2>
				</div>
			<div class="waiter-menu">
			{% for food_item in category.food.all %}
				<div class="food-item">
					<h5 class="item">{{food_item.title}}</h5>
					<div class="item"> {{ food_item.price }} </div>
					<div class="add-to-cart-btn">
						<button class="btn btn-success">
						Добавить в заказ
						</button>
					</div>
				</div>
			{% endfor %}
			</div>
				{% endfor %}
			</div>
	</section>

{% endblock content %}