{% extends 'base.html' %}


{% block content %}
	<!-- Page info section -->
	<section class="page-top-info set-bg" data-setbg="../static/img/page-top-bg/2.jpg">
		<div class="ptf-center">
			<div class="container">
				<h2>Меню<span>.</span></h2>
			</div>
		</div>
	</section>
	<!-- Page info section end -->


	<!-- Menu section -->
	<section class="mp-menu-section spad">
		<div class="container">
			{% for category in categories %}
			<div class="section-title">
				<h2>{{category.name}}</h2>
			</div>
			<div class="tab-content menu-tab-content">
				<!-- single tab content -->
				<div class="row menu-dark">
						<div class=" menu-content">
								{% for food_item in category.food.all %}
									<div class="menu-item">
										<h5>{{food_item.title}}</h5>
										<div class="mi-meta">
											<p>{{food_item.text}}</p>
											<div class="menu-price">{{food_item.price}}</div>
										</div>
									</div>
								{% endfor %}
						</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Menu section end -->


{% endblock content %}