{% extends 'waiter.html' %}

{% load static %}
{% block content %}

	<!--Меню -->
	<section class="mp-menu-section spad">
		<div class="container">
			<div class="input-group rounded">
				<form action="{% url 'search' %}" method="get">
					<input type="text" name="s" placeholder="Поиск">
					<input type="submit" value="Найти">
				</form>
			</div>
			{% for category in categories %}
				<div class="section-title" id="block">
					<h2>{{category.name}}</h2>
				</div>
			<div class="waiter-menu">
			{% for food_item in category.food.all %}
				<div class="food-item">
					<h5 class="item">{{food_item.title}}</h5>
					<div class="item"> {{ food_item.price }} </div>
					<div class="add-to-cart-btn">
						<form id="form_bying_food" class="form-inline">
							<div class="form-group" ><input type="number" style="width: 100px;" name="number" id="number"></div>
							<div class="form-group">
								<button type="submit" id="submit_btn" class="btn btn-success update-order"
								data-food="{{ food_item.id }}" data-action="add">
							Добавить в заказ
							</button>
							</div>
						</form>
					</div>
				</div>
			{% endfor %}
			</div>
				{% endfor %}
			</div>
	</section>

{% endblock content %}