{% extends 'waiter.html' %}

{% load static %}
{% block content %}
	<!--Меню -->
	<section class="mp-menu-section spad" style="min-height: 660px">
		<div class="container">
			<a class="h3" href="{% url 'menuwaiter' %}">Всё меню</a></li>
			<div class="input-group rounded">
				<form action="{% url 'search' %}" method="get" id="search">
					<input type="text" name="s" placeholder="Поиск">
					<input type="submit" value="Найти">
				</form>
			</div>
			<div class="waiter-menu" id="block">
			{% for food_item in foods %}
				<div class="food-item">
					<h5 class="item">{{food_item.title}}</h5>
					<div class="item"> {{ food_item.price }} </div>
					<div class="add-to-cart-btn">
						<button class="btn btn-success">
						Добавить в заказ
						</button>
					</div>
				</div>
				{% empty %}
				<p>По вашему запросу ничего не найдено</p>
			{% endfor %}
			</div>
			</div>
<!--		{% if page_obj.has_other_pages %}-->
<!--		<div class="pagination">-->
<!--			<div  class="nav-link">-->
<!--				{% for p in page_obj.paginator.page_range %}-->
<!--					{% if page_obj.number == p %}-->
<!--					<span class="page-item">{{ p }}</span>-->
<!--					{% elif p > page_obj.number|add:-3 and p <  page_obj.number|add:3 %}-->
<!--					<a class="page-item">{{ p }}</a>-->
<!--					{% endif %}-->
<!--				{% endfor %}-->
<!--			</div>-->
<!--		</div>-->
<!--		{% endif %}-->
	</section>

{% endblock content %}