<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
	<title>Anilez</title>
	<meta charset="UTF-8">
	<meta name="description" content="Anilez Restaurant">
	<meta name="keywords" content="anilez, restaurant, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="{% static 'img/1.ico' %}" rel="shortcut icon"/>

	<script type="text/javascript">
		var user='{{ request.user }}'

		function getToken(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getToken('csrftoken');
	</script>
	<!-- Стили -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
	<!-- Шапка -->
	<header class="header-section" style="background: #0c5460;">
		<div class="header-warp">
			<div class="site-logo">
				<h2>Anilez</h2>
			</div>

			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- Навигация -->
			<ul class="main-menu">
				<li><a href="{% url 'index' %}">Главная</a></li>
				<li><a href="{% url 'menuwaiter' %}">Меню</a></li>
				<li><a href="{% url 'order' %}">Заказ</a></li>
				<li><a href="{% url 'waiter' %}">Список заказов</a></li>
				{% if request.user.is_authenticated %}
				<li><a href="{% url 'logout' %}">Выход</a></li>
				{% endif %}
			</ul>
		</div>
	</header>
	<!-- Конец шапки -->


{% block content %}
<section class="spad">
		<div class="container">
            <div class="section-title">
                <h2>Список заказов</h2>
            </div>
			<br>
			<table class="table">
				{% for item in order %}
				<tr>
					<td><h5>Дата:<strong>{{item.date_order}}</strong></h5></td>
					<td><h5>Итого:<strong>{{item.total_price|floatformat:2}}</strong></h5></td>
					<td><h5>Номер столика:<strong>{{item.table}}</strong></h5></td>
				</tr>
				{% endfor %}
			</table>
			</div>
			</div>
</section>
{% endblock content %}
	<!-- Footer -->
	<footer class="bg-light text-center text-lg-start">
		<div class="text-center p-3" style="background-color: #ffc515 ;position: relative; margin-top: 210px;">
			© 2022
			<a class="text-dark">Разработан Зайнуллиной Элиной Ринатовной</a>
		</div>
	</footer>
	<!--  Конец Footer -->

	<!--Скрипты-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/order.js' %}"></script>

    </body>
</html>