<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
	<title>Anilez</title>
	<meta charset="UTF-8">
	<meta name="description" content="Anilez Restaurant">
	<meta name="keywords" content="anilez, restaurant, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="{% static 'img/1.ico' %}" rel="shortcut icon"/>

	<script type="text/javascript">
		var user='{{ request.user }}'
	</script>
	<!-- Стили -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
	<!-- Шапка -->
	<header class="header-section" style="background: #0c5460">
		<div class="header-warp">
			<div class="site-logo">
				<h2>Anilez</h2>
			</div>
			<!-- Навигация -->
			<ul class="main-menu">
				<li><a href="{% url 'index' %}">Главная</a></li>
				<li><a href="{% url 'menuwaiter' %}">Меню</a></li>
				<li><a href="{% url 'order' %}">Заказ</a></li>
				<li><a href="{% url 'waiter' %}">Список заказов</a></li>
				{% if request.user.is_authenticated %}
				<li><a href="{% url 'logout' %}">Выход</a></li>
				{% endif %}
			</ul>
		</div>
	</header>
	<!-- Конец шапки -->


{% block content %}
<!--	<section class="page-top-info set-bg" data-setbg="{% static 'img/page-top-bg/5.jpg' %}">-->
<!--		<div class="ptf-center">-->
<!--			<div class="container">-->
<!--			</div>-->
<!--		</div>-->
<!-- 	</section>-->
{% endblock content %}
	<!-- Footer -->
	<footer class="bg-light text-center text-lg-start">
		<div class="text-center p-3" style="background-color: #ffc515;">
			© 2022
			<a class="text-dark">Разработан Зайнуллиной Элиной Ринатовной</a>
		</div>
	</footer>
	<!--  Конец Footer -->

	<!--Скрипты-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/order.js' %}"></script>
	<script>
		$(document).ready(function(){
			 var body = $("body");
			 body.fadeIn(600);
			 $(document).on("click", "a:not([href^='#']):not([href^='tel']):not([href^='mailto'])", function(e) {
			  e.preventDefault();
			  $("body").fadeOut(600);
			  var self = this;
			  setTimeout(function () {
			   window.location.href = $(self).attr("href");
			  }, 600);
	 		});
		});
	</script>
    </body>
</html>